
@model IEnumerable<ERPManagementSystem.Models.Product>
@using ERPManagementSystem.Extensions;

@{
    ViewData["Title"] = "Products";
}
<div class="action">
    <div class="row">
        <div class="col-md-3 col-12 col-lg-3">
            <a class="create" onclick="ShowInLargePopup('@Url.Action("AddOrEdit","Products",null,Context.Request.Scheme)','New Product' )"><i class="fas fa-plus"></i><span>New</span></a>
           
        </div>
    </div>
</div>
<div class="body">
    <div class="row">
        <div class="col-md-12 col-12 col-lg-12">
            <div id="view-all">
                
                @await Html.PartialAsync("_ViewAllProduct", Model)

            </div>
        </div>
    </div>
</div>

