<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RDLC.Properties.Settings.erpdatabaseConnectionString"
            connectionString="server=localhost;user id=root;password=01985100851;sslmode=None;database=erpdatabase"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>