
@{
    ViewData["Title"] = "ThankYou";
}

<div class="container text-center">
    <div class="thankyoudiv">
        <h1>Thank you for your order</h1>
        <div class="CashOnBtns">
            <a asp-action="Index" asp-controller="Home">Continue Shopping</a>
            
        </div>
    </div>
</div>
