@model ERPManagementSystem.ViewModels.ShopVm
@using ERPManagementSystem.Extensions;
@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    var i = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        if (pager.CurrentPage == 1)
        {
            i = pager.StartPage;
        }
        if (pager.CurrentPage > 1)
        {
            i = pager.PageSize * (pager.CurrentPage - pager.StartPage);
            i++;
        }
    }
}

<div class="body">
    <div class="row">
        <div class="col-md-12 col-12 col-lg-12">
            <div id="view-all">
                @await Html.PartialAsync("_HomPartial", Model)
            </div>
            <div id="d_load_data_message">load message data</div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            var page = 1;

            var action = 'inactive';


            function f_load_my_data(page) {
                $.ajax({
                    url: "/Home/loaddataonscrol",
                    method: "POST",
                    data: { page: page },
                    cache: false,
                    success: function (data) {
                        $('#view-all').html(data.html)
                        if (data == null) {
                            $('#d_load_data_message').html("<button type='button' class='btn btn-info'>No Data Found</button>");
                            action = 'active';
                        }
                        else {
                            $('#d_load_data_message').html("<button type='button' class='btn btn-warning'>Please Wait....</button>");
                            action = "inactive";
                        }
                    }
                });
            }

            if (action == 'inactive') {
                action = 'active';
                f_load_my_data(page);
            }

            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $("#view-all").height() && action == 'inactive') {
                    action = 'active';
                    page = page+1;
                    setTimeout(function () {
                        f_load_my_data(page);
                    }, 1000);
                }
            });

        });
    </script>
}
