@model ERPManagementSystem.Models.Vendor
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="container-fluid">
    <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostLargeModal(this);" enctype="multipart/form-data" autocomplete="off">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label>FirstName</label>
                    <input asp-for="FristName" class="form-control" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <label>LastName</label>
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <label>Phone</label>
                    <input asp-for="Phone" class="form-control" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <label>Address</label>
                    <textarea asp-for="Address" class="form-control"></textarea>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <label>CompanyName</label>
                    <input asp-for="CompanyName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <label>DisplayName</label>
                    <input asp-for="DisplayName" class="form-control" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <label>WebSite</label>
                    <input asp-for="WebSite" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-10 offset-md-0 offset-lg-0 offset-1">
                <div class="form-group">
                    <label>Status</label>
                    <select asp-for="VendorStatus" class="form-control">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container d-flex justify-content-center align-items-center">
                <button type="submit" class="savebtn">Save</button>
            </div>
        </div>
    </form>
</div>

