@model ERPManagementSystem.ViewModels.LineItemVm
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="container-fluid">
    <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
        <div class="row">
            <div class="col-md-10 offset-1 col-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label>Receive Quantity</label>
                    <input asp-for="ReceiveQuantity" class="form-control" />
                </div>
            </div>
            <div class="col-md-10 offset-1 col-10 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <label>Sale Price</label>
                    <input asp-for="SalePrice" class="form-control" />
                </div>
            </div>
            <div class="col-md-10 offset-1 col-10 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <label>Previous Price</label>
                    <input asp-for="PreviousPrice" class="form-control" />
                </div>
            </div>
            <div class="col-md-10 offset-1 col-10 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <label>Quick View</label>
                   <textarea class="form-control"  asp-for="ShortDescription"></textarea>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-10 offset-1 col-10 col-lg-10 offset-lg-1">
                <div class="container d-flex justify-content-center align-items-center">
                    <button type="submit" class="savebtn">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

